<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Retro Barcode Generator</h1>



 
  <div [ngStyle]="{
    'background-color': color[randomcolor()],
    'height': '100px',
    'width': '10%',
    'display': 'inline-block',
    'vertical-align': 'top'
  }">
  </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
    <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>
  <div [ngStyle]="{
      'background-color': color[randomcolor()],
      'height': '100px',
      'width': '10%',
      'display': 'inline-block',
      'vertical-align': 'top'
    }">
    </div>


  


</div>



